.update-content .update-title {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 2rem;
}

.update-content .content-delete {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.update-content .content-delete .button-delete {
    --c-main: var(--c-red);
    margin: 10px;
}

.update-content .content-delete .button-delete:hover {
    cursor: pointer;
    opacity: 0.8;
}

.modal-delete-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 420px;
}

.modal-delete-message h1 {
    margin-bottom: 20px;
}

.modal-delete-buttons {
    display: flex;
    justify-content: space-around;
}

.modal-delete-buttons button {
    margin: 20px;
    width: 150px;
}

.modal-delete-buttons .button-confirm {
    --c-main: var(--c-red);
}

.modal-delete-buttons button:hover {
    opacity: 0.5;
}

@media(max-width: 950px) { 
    .update-content .update-title {
        font-size: 1.5rem;
    }
}

@media(max-width: 480px) { 
    .modal-delete-message {
        width: 300px;
    }

    .modal-delete-buttons button {
        width: 100px;
    }
}

@media(max-width: 390px) { 
    .update-content .update-title {
        font-size: 1.2rem;
    }
}