.course-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background: #F0F0F6;
    padding: 15px;
    border-radius: 8px;
}

.course-container h1 {
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--c-black)
}

.course-container .course-form  {
    width: 650px;
    
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    
    "name  name  name name" 
    "errName  errName  errName errName"

    "score  duration period period" 
    "errScore  errDuration errPeriod errPeriod" 

    "description description description description" 
    "errDescription errDescription errDescription errDescription" 

    "select-titration select-titration select-modality select-modality" 
    "errTitration errTitration errModality errModality" 

    "button button button button";

    align-self: center;
}

.course-container .course-form .error-name {
    grid-area: errName;
}

.course-container .course-form .error-score {
    grid-area: errScore;
}

.course-container .course-form .error-duration {
    grid-area: errDuration;
}

.course-container .course-form .error-description {
    grid-area: errDescription;
}

.course-container .course-form .error-titration {
    grid-area: errTitration;
}

.course-container .course-form .error-modality {
    grid-area: errModality;
}

.course-container .course-form .error-period {
    grid-area: errPeriod;
}

.course-container .course-form .name {
    grid-area: name;
}

.course-container .course-form .duration {
    grid-area: duration;
}

.course-container .course-form .score {
    grid-area: score;
}

.course-container .course-form .period {
    grid-area: period;
}

.course-container .course-form .select-titration {
    grid-area: select-titration;
}

.course-container .course-form .select-modality {
    grid-area: select-modality;
}

.course-container .course-form .description {
    grid-area: description;
}

.course-container .course-form .button {
    grid-area: button;

    margin-bottom: 10px;
}

@media(max-width: 750px) {
    .course-container .course-form {
        width: 450px;
    }
}

@media(max-width: 600px) {
    .course-container .course-form {
        width: 450px;
    }
}

@media(max-width: 510px) {
    .course-container .course-form {
        width: 300px;
        grid-template-columns: 1fr;
        grid-template-areas: 

        "name" 
        "errName"

        "duration" 
        "errDuration"

        "score"
        "errScore"

        "description"
        "description"
        "errDescription"

        "period"
        "errPeriod"

        "select-titration" 
        "errTitration"

        "select-modality" 
        "errModality"

        "button";
    }

    .course-container h1 {
        font-size: 1.5rem;
    }
}

@media(max-width: 355px) {

    .course-container h1 {
        font-size: 1.2rem;
    }
    .course-container .course-form {
        width: 220px;
    }
}