.course-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background: #F0F0F6;
    padding: 15px;
    border-radius: 8px;
}

.course-container h1 {
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--c-black)
}

.course-container form {
    width: 500px;
    
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "name  name  name name" 
    "score  score  duration duration" 
    "description description description description" 
    "select-titration select-titration select-modality select-modality" 
    "button button button button";
    align-self: center;
}

.course-container form .name {
    grid-area: name;
}

.course-container form .duration {
    grid-area: duration;
}

.course-container form .score {
    grid-area: score;
}

.course-container form .select-titration {
    grid-area: select-titration;
}

.course-container form .select-modality {
    grid-area: select-modality;
}

.course-container form .description {
    grid-area: description;
}

.course-container form .button {
    grid-area: button;

    margin-bottom: 10px;
}

@media(max-width: 550px) {
    .course-container form {
        width: 450px;
    }
}

@media(max-width: 480px) {
    .course-container form {
        width: 300px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "name" 
        "duration" 
        "score"
        "description"
        "description"
        "select-titration" 
        "select-modality" 
        "button";
    }

    .course-container h1 {
        font-size: 1.5rem;
    }
}

@media(max-width: 320px) {

    .course-container h1 {
        font-size: 1.2rem;
    }
}