.university-content form {
    width: 800px;

    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "IES  IES  city city" 
    "email email telephone telephone" 
    "password password confirmPassword confirmPassword " 
    "address address site site " 
    "radio radio UF UF " 
    "button button button button";
    align-self: center;
}

.university-content form .IES {
    grid-area: IES;
}

.university-content form .telephone {
    grid-area: telephone;
}

.university-content form .email {
    grid-area: email;
}

.university-content form .UF {
    grid-area: UF;
}

.university-content form .password {
    grid-area: password;
}

.university-content form .city {
    grid-area: city;
}

.university-content form .confirmPassword {
    grid-area: confirmPassword;
}

.university-content form .address {
    grid-area: address;
}

.university-content form .site {
    grid-area: site;
}

.university-content form button {
    grid-area: button;
}

.university-content form .radio {
    grid-area: radio;
    display: flex;
    align-items: center;
    margin-right: 20%;
}

.university-content form .radio .public {
    height: 30px;
}

.university-content form .radio .private {
    height: 30px;
}

.university-content form button:hover {
    filter: brightness(90%);
}

@media(max-width: 850px) {
    .university-content form {
        width: 500px;
    }
}

@media(max-width: 550px) {
    .university-content form {
        width: 320px;
    }

    .university-content form .radio {
        margin-right: 0;
    }

    .university-content form .radio .public {
        height: 20px;
    }
    
    .university-content form .radio .private {
        height: 20px;
    }
}

@media(max-width: 350px) {
    .university-content form {
        width: 200px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "IES"
        "city" 
        "email" 
        "telephone" 
        "password" 
        "confirmPassword " 
        "address" 
        "site " 
        "radio" 
        "UF " 
        "button";
        margin-bottom: 10px;
    }
}