.university-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background: #F0F0F6;
    padding: 15px;
    border-radius: 8px;
}

.university-content h1 {
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--c-black);
    margin-bottom: 10px;
}

.university-content .university-form {
    width: 800px;

    display: grid;
    align-self: center;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 

    "IES  IES  email email" 
    "errIES  errIES  errEmail errEmail" 

    "password password confirmPassword confirmPassword" 
    "errPassword errPassword errConfirmPassword errConfirmPassword" 

    "city city telephone telephone" 
    "errCity errCity errTelephone errTelephone" 
    
    "address address UF UF" 
    "errAddress errAddress errUf errUf" 

    "site site category category" 
    "errSite errSite errCategory errCategory" 

    "button button button button";
}

.university-content .university-form .error-ies {
    grid-area: errIES;
}

.university-content .university-form .error-email {
    grid-area: errEmail;
}

.university-content .university-form .error-password {
    grid-area: errPassword;
}

.university-content .university-form .error-confirmPassword {
    grid-area: errConfirmPassword;
}

.university-content .university-form .error-city {
    grid-area: errCity;
}

.university-content .university-form .error-telephone {
    grid-area: errTelephone;
}

.university-content .university-form .error-address {
    grid-area: errAddress;
}

.university-content .university-form .error-uf {
    grid-area: errUf;
}

.university-content .university-form .error-site{
    grid-area: errSite;
}

.university-content .university-form .error-category{
    grid-area: errCategory;
}

.university-content .university-form .IES {
    grid-area: IES;
}

.university-content .university-form .telephone {
    grid-area: telephone;
}

.university-content .university-form .email {
    grid-area: email;
}

.university-content .university-form .UF {
    grid-area: UF;
}

.university-content .university-form .password {
    grid-area: password;
}

.university-content .university-form .city {
    grid-area: city;
}

.university-content .university-form .confirmPassword {
    grid-area: confirmPassword;
}

.university-content .university-form .address {
    grid-area: address;
}

.university-content .university-form .site {
    grid-area: site;
}

.university-content .university-form button {
    grid-area: button;
}

.university-content .university-form .select-category {
    grid-area: category;
}

.university-content .university-form .select-category .public {
    height: 30px;
}

.university-content .university-form .select-category .private {
    height: 30px;
}

.university-content .university-form button:hover {
    filter: brightness(90%);
}

@media(max-width: 900px) {
    .university-content .university-form {
        width: 500px;
    }
}

@media(max-width: 600px) {

    .university-content input {
        height: 40px;
    }

    .university-content .university-form {
        width: 320px;
    }

    .university-content .university-form .select-category {
        margin-right: 0;
    }

    .university-content .university-form .select-category .public {
        height: 20px;
    }
    
    .university-content .university-form .select-category .private {
        height: 20px;
    }

    .university-content h1 {
        font-size: 1.5rem;
    }
}

@media(max-width: 380px) {

    .university-content .university-form {
        width: 250px;
        margin-bottom: 10px;

        grid-template-columns: 1fr;
        grid-template-areas: 

        "IES"
        "errIES"

        "email" 
        "errEmail"

        "password" 
        "errPassword"

        "confirmPassword " 
        "errConfirmPassword"

        "city" 
        "errCity"

        "telephone" 
        "errTelephone"

        "address" 
        "errAddress"

        "UF"
        "errUf"

        "category" 
        "errCategory"

        "site" 
        "errSite"

        "button";
    }

    .university-content h1 {
        font-size: 1.1rem;
    }
}