.profile-content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    color: var(--c-dark);
    padding: 15px;

    --c-blue: #138496ce;
}

.profile-content-top strong {
    font-size: 2rem;
}

.container-card-empty {
    display: flex;
    height: 80%;
    padding: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-card-empty strong {
    font-size: 2rem;
    margin-bottom: 20px;
}

.container-card-empty p {
    font-size: 1.3rem;
}


@media(max-width: 685px) {
    .profile-content-top strong {
        display: none;
    }
}