.profile-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.profile-container .profile-content {
    display: flex;
    flex-direction: column;
    flex: 0.8;
}

.profile-container .profile-content .profile-content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    color: var(--c-dark);
    padding: 15px;
}

.profile-container .profile-content .profile-content-top strong {
    font-size: 2rem;
}

@media(max-width: 685px) {
    .profile-container .profile-content .profile-content-top strong {
        display: none;
    }
}