.logon-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    display: flex;
    flex: 0.9;
    align-items: center;
    justify-content: center;
}

.content .form form {
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.content .form form h1 {
    margin-bottom: 32px;
    font-size: 32px;
    font-weight: 800;
}

.content img {
    margin-left: 100px;
    margin-right: 0;
    padding-right: 0;
    width: 35vw;
}

.content .form form button {
    width: 100%;
    height: 60px;
    background: #00A5D8;
    border: 0;
    color: #fff;
    font-weight: bold;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    border-radius: 8px;
    transition: filter 0.2s;
}

.content .form form button:hover {
    filter: brightness(90%);
}