.logon-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.logon-content {
    display: flex;
    flex: 0.8;
    align-items: center;
    justify-content: center;
}

.logon-content .logon-form form {
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.logon-content .logon-form form h1 {
    margin-bottom: 32px;
    font-size: 32px;
    font-weight: 800;
}

.logon-content img {
    margin-left: 100px;
    margin-right: 0;
    padding-right: 0;
    width: 35vw;
}

.logon-content .logon-form form button:hover {
    filter: brightness(90%);
}

@media(max-width: 425px) {
    .logon-content img {
        display: none;
    }

    .logon-content .logon-form form {
        width: 90vw;
    }
}