.logon-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    display: flex;
    flex: 0.8;
    align-items: center;
    justify-content: center;
}

.content .form form {
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.content .form form h1 {
    margin-bottom: 32px;
    font-size: 32px;
    font-weight: 800;
}

.content img {
    margin-left: 100px;
    margin-right: 0;
    padding-right: 0;
    width: 35vw;
}

.content .form form button:hover {
    filter: brightness(90%);
}

@media(max-width: 425px) {
    .content img {
        display: none;
    }

    .content .form form {
        width: 90vw;
    }
}