.card-container {
    width: 20vw;
    background: #D7E4E6;
    border-radius: 8px;
    margin: 10px;
}

.card-container .ies {
    height: 15vw;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    overflow: hidden;
    word-wrap: break-word;
    background-color: #138496;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: white;
}

.card-container .body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 15px 0px 15px;
}

.card-container .body .title {
    font-size: 1.1rem;
}

.card-container .body .text {
    font-size: 0.9rem;
}

.card-container .list {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid;
    border-color: #ffffff;
    padding: 15px 15px 0px 15px;
}

.card-container .list .list-item {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
}

@media(max-width: 1024px) {
    .card-container {
        width: 30vw;
    }
}

@media(max-width: 768px) {
    .card-container .body .title {
        font-size: 0.9rem;
    }

    .card-container .body .text {
        font-size: 0.7rem;
    }

    .card-container .list .list-item {
        font-size: 0.6rem;
    }
}

@media(max-width: 425px) {
    .card-container {
        width: 60vw;
    }
    .card-container .ies {
        font-size: 0.8rem;
    }
}

@media(max-width: 320px) {
    .card-container {
        width: 75vw;
    }
}