.modal-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;

    padding-top: 20px;
    overflow-y: scroll;
}

.modal-box .close-modal {
    position: absolute;
    margin: 20px;
    right: 0px;
    top: 0px;
    z-index: 1;
}

.modal-box .close-modal .button-close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;

    --c-blue: rgba(0, 0, 0, 0.747);
}