.modal-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding-top: 20px;
    overflow-y: scroll;
}

.modal-box::-webkit-scrollbar {
    width: 10px;
    background: #63636400;
}

.modal-box .close-modal {
    position: absolute;
    right: 40px;
    top: 10px;
    z-index: 1;
}

.modal-box .close-modal .button-close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    --c-blue: rgba(0, 0, 0, 0.747);
}