.create-course-title {
    display: flex;
    justify-content: center;
    margin: 32px;
    font-size: 2rem;
    font-weight: 800;
}

.create-course-data {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.create-course-data .create-course-img {
    width: 400px;
}

@media(max-width: 950px) {
    
    .create-course-data .create-course-img{
        display: none;
    }
}

@media(max-width: 425px) {

    .create-course-title {
        font-size: 1.5rem;
    }
}

@media(max-width: 320px) {

    .create-course-title {
        font-size: 1.2rem;
    }
}