.header-container {
    display: flex;
    flex: 0.1;
    justify-content: space-between;
    padding: 15px;
}

.header-container .header-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0px 20px;
}

.header-container .header-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-container .header-content .header-logout{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: 10px;
}

.header-container .header-content .header-edit{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.header-container .header-logo img {
    width: 6vh;
}

.header-container .header-logo .header-home {
    font-size: 1.2rem;
    color: var(--c-dark);
}

.header-modal-box {
    position:absolute;

    top:50%;
    left:50%;

    margin-top:-250px;
    margin-left:-450px;

    background: #F0F0F6;
    padding: 20px 40px 20px 40px;
    border-radius: 8px;
}

.header-modal-box h1{
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--c-dark);
    margin: 10px 10px 10px 250px;
}

@media(max-width: 1024px) {
    
    .header-modal-box {
        margin-left:-420px;
        padding: 20px;
    }
}

@media(max-width: 850px) {
    .header-modal-box {
        margin-left:-270px;
        padding: 20px;
    }

    .header-modal-box h1{
        margin: 10px 10px 10px 100px;
    }
}

@media(max-width: 550px) {

    .header-container .header-logo img {
        display: none;
    }

    .header-container {
        display: flex;
    }

    .header-container .header-logo strong {
        display: flex;
        justify-content: center;
    }

    .header-container .header-content {
        display: flex;
    }

    .header-modal-box {
        margin-left:-175px;
        padding: 15px;
    }

    .header-modal-box h1{
        margin: 10px 10px 10px 20px;
    }
}

@media(max-width: 350px) {
    
    .header-modal-box {
        margin-left:-135px;
        padding: 5px;
    }

    .header-modal-box h1{
        font-size: 1.2rem;
        margin: 10px 10px 10px 50px;
    }
}