.header-container {
    display: flex;
    flex: 0.1;
    justify-content: space-between;
    padding: 15px;
}

.header-container .header-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0px 20px;
}

.header-container .header-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-container .header-content .header-logout{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: 10px;
}

.header-container .header-content .header-edit{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.header-container .header-logo img {
    width: 6vh;
}

.header-container .header-logo .header-home {
    font-size: 1.2rem;
    color: var(--c-dark);
}

@media(max-width: 550px) {

    .header-container .header-logo img {
        display: none;
    }

    .header-container {
        display: flex;
    }

    .header-container .header-logo strong {
        display: flex;
        justify-content: center;
    }

    .header-container .header-content {
        display: flex;
    }
}