.header-container {
    display: flex;
    flex: 0.1;
    justify-content: space-between;
    padding: 15px;
}

.header-container .header-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0px 20px;
}

.header-container .header-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-container .header-content .register-button {
    --c-blue: #c82333da;
    height: 45px;
    font-weight: normal;
    margin-left: 10px;
}

.header-container .header-content .logon-button {
    --c-blue: #0069d9b2;
    height: 45px;
    font-weight: normal;
    margin-left: 10px;
}

.logon-button:hover, .register-button:hover {
    opacity: 0.5;
}

.header-container .header-content .header-logout{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 45px;
    --c-blue: #c82333da;
    text-decoration: none;
    margin-left: 10px;
}

.header-container .header-content .header-profile{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 45px;
    text-decoration: none;
    margin-left: 10px;
}

.header-container .header-content .header-edit{
    height: 45px;
    --c-blue: #5a6268ce;
}

.header-container .header-logo img {
    width: 70px;
    margin-right: 15px;
}

.header-container .header-logo .header-home {
    font-size: 1.2rem;
    color: var(--c-dark);
}

@media(max-width: 550px) {

    .header-container .header-logo img {
        display: none;
    }

    .header-container {
        display: flex;
    }

    .header-container .header-logo strong {
        display: flex;
        justify-content: center;
    }

    .header-container .header-content {
        display: flex;
    }
}