.search-content {
    justify-content: center;
    align-items: center;

    --c-select: #00a6d8a9;
    --c-submit: #323845c9;
}

.search-content .search-img {
    flex: 0.5;

    height: 300px;
    padding: 10px;
}

.search-content .search-input {
    display: flex;
    flex: 0.1;
    justify-content: center;
    align-items: flex-end;
}

.search-content .search-text {
    display: flex;
    flex: 0.4;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.search-content .search-text strong {
    font-size: 2rem;
    margin-bottom: 15px;
}

.search-content .search-text p {
    font-size: 1.2rem;
}

.search-content .search-form {
    display: flex;
    width: 700px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.search-content .search-form input {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.search-content .search-form select {
    width: 150px;
    
    background: var(--c-select);
    color: white;
    
    border: 0px solid var(--c-select);
    border-radius: 0px;

    padding-left: 10px;
}

.search-content .search-form .search-input-button {
    width: 150px;
    height: 50px;
    margin: 0px;

    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

    font-weight: 500;
    font-size: 1rem;

    background-color: var(--c-submit);
    cursor: pointer;
}

@media(max-width: 780px) {

    .search-content .search-form {
        width: 500px;
    }

    .search-content .search-form select {
        width: 110px;
        padding-left: 2px;
        padding-right: 2px;
    }
}

@media(max-width: 680px) {

    .search-content .search-text strong {
        font-size: 1.5rem;
    }
    
    .search-content .search-text p {
        font-size: 1rem;
    }
}

@media(max-width: 550px) {

    .search-content .search-text strong {
        font-size: 1.2rem;
    }
    
    .search-content .search-text p {
        font-size: 0.9rem;
        margin-left: 20px;
        margin-right: 20px;
    }

    .search-content .search-form {
        display: flex;
        width: 300px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .search-content .search-img {
        display: none;
    }

    .search-content .search-form input {
        border-radius: 8px;

        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    
    .search-content .search-form select {
        width: 100%;
        margin-bottom: 20px;

        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    
    .search-content .search-form .search-input-button {
        border-radius: 8px;
    }

}