.container-card-list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

.container-card-list .container-card-list-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media(max-width: 1328px) {
    .container-card-list .container-card-list-item {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(max-width: 1000px) {
    .container-card-list .container-card-list-item {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 685px) {
    .container-card-list .container-card-list-item {
        grid-template-columns: 1fr;
    }
}