.create-course-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.create-course-content {
    display: flex;
    flex: 0.8;
    flex-direction: column;
}

.create-course-content h1 {
    display: flex;
    justify-content: center;
    margin: 32px;
    font-size: 2rem;
    font-weight: 800;
}

.create-course-content .create-course-data {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.create-course-content .create-course-data .create-course-img {
    width: 400px;
}

@media(max-width: 950px) {
    
    .create-course-content .create-course-data .create-course-img{
        display: none;
    }
}

@media(max-width: 425px) {

    .create-course-content h1 {
        font-size: 1.5rem;
    }
}

@media(max-width: 320px) {

    .create-course-content h1 {
        font-size: 1.2rem;
    }
}