@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* Definindo a fonte padrão */
body {
    font-family: Nunito, sans-serif;
    background-color: #d9e7e9;
}

input, button, textarea {
    font-family: Nunito, sans-serif;
}

form input {
    width: 100%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
    outline: none;
}

form input:focus  {
    border-color: #0095C2;
}

form textarea {
    width: 100%;
    min-height: 140px;
    resize: vertical;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 16px 24px;
    line-height: 24px;
}